<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292729575148-1epipd5hjchtcu1e1gpeipmn3tf21vcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292729575148-1epipd5hjchtcu1e1gpeipmn3tf21vcm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>292729575148-tvp67646ei2no1a4kt7lrla37efndavn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBWoVaaL19saYlAceYoJiCW7lICHFiL7E</string>
	<key>GCM_SENDER_ID</key>
	<string>292729575148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuziem</string>
	<key>PROJECT_ID</key>
	<string>kuziem-364900</string>
	<key>STORAGE_BUCKET</key>
	<string>kuziem-364900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292729575148:ios:9f8f95eee58ebc41cbf7c9</string>
</dict>
</plist>